body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background: linear-gradient(90deg, #3abbf7, #1e017c);
    color: white;
    text-align: center;
    padding: 25px;
}

nav {
    background-color: #111827;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.layout {
    display: flex;
    min-height: 80vh;
}

/* BARRA LATERAL */
.sidebar {
    width: 260px;
    background-color: #111827;
    color: white;
    padding: 20px;
}

.sidebar img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.sidebar h2 {
    color: #61c4f1;
}

.sidebar p {
    font-size: 14px;
    line-height: 1.5;
}

/* CONTENIDO */
.contenido {
    flex: 1;
    padding: 20px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.producto {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.producto h3 {
    color: #0d1fe3;
}

.precio {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

button {
    background-color: #0589d0;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #09bcee;
}

.carrito {
    background-color: #111827;
    color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: #111827;
    color: white;
    text-align: center;
    padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        text-align: center;
    }
}
.btn-carrito:hover {
    background: linear-gradient(135deg, #006064, #004d40);
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 77, 64, 0.4);
}




